body {
    background-color: #1e1e2f;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.sidebar .sidebar-content {
    background-color: #2e2e3f;
    color: white;
    padding: 20px;
}

.card {
    background-color: #2e2e3f;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

h1, h2, h3, h4, h5, h6, .pre_text {
    color: #f39c12;
}

.header {
    border-bottom: 2px solid #f39c12;
    padding-bottom: 10px;
}

a {
    color: #f39c12;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.skill-bar {
    background-color: #3e3e4f;
    border-radius: 5px;
    margin-bottom: 10px;
}

.skill-bar-inner {
    height: 10px;
    border-radius: 5px;
    background-color: #f39c12;
}

#skills-body {
    background-color: #e0e0e0;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

#skill-bar {
    background-color: skyblue;
    height: 25px;
    border-radius: 5px;
}

#skill-text {
    position: absolute;
    left: 10px;
    color: grey;
    font-weight: bold;
}
